

html {
 color: white;
 /* background-color: black; */
}

body{
    background-color: black;
    color: white;
}

p.A{
 color: blue;
}

#header{
    color: white;
    font-size: 2em;/*文字サイズ2倍*/
    font-weight: bold;
}

#staticBackdropLabel{
    color: black;
}

table,td,th {
    background-color: #464343;
    border-color: white;
}

table {

}

tbody {
    color: white;
    border-color: white;
}

th {
    color: white;
    background-color: salmon;
    border-width: thick;
}

td {
    color: white;
    border-color: white;
    border-width: thin;
}
tr {
    color: white;
    border-width: thin;
}

#bsePlaceholder {
    width: auto;
    height: 300px;
    background-color: coral;
}