

html {
 color: white;
 /* background-color: black; */
}

body{
    background-color: black;
    color: white;
}

p.A{
 color: blue;
}

#header{
    /* color: white; */
    color: white;
    font-size: 2em;/*文字サイズ2倍*/
    font-weight: bold;
}

#staticBackdropLabel{
    color: black;
}

table,td,th {
    color:red;
    background-color: #464343;
    /* border-collapse: collapse; */
}

tbody {
    color: white;
}

th {
    color: white;
    background-color: salmon;
}

td {
    color: white;
}
tr {
    color: white;
}
